body{
    font-family: "Monsterrat";
    font-weight: bold;
}

#title{
    background-color: #ff4c68;
}

.container-fluid{
    padding: 3% 15% 7%;
}

h1{
    font-family: "montserrat-black";
    font-size: 3rem;
    line-height: 1.5;
}

h2{
    font-family: "montserrat-bold";
    font-size: 3rem;
    line-height: 1.5;
}

h3{
    font-family: "montserrat-bold";
    font-size: 1.5rem;
    font-weight: bold;
}

p{
    color: #8f8f8f;
    font-weight: bold;
}
.navbar-brand{
    font-size: 2rem;
}
.navbar{
    padding-bottom: 4.5rem;
}
.nav-item{
    padding: 0 18px;
}
.title-image{
    width: 20%;
    transform: rotate(25deg);
    position: absolute;
}

#features{
    padding: 7% 15%;
    background-color: #fff;
    position:relative;
    z-index: 1;
}

.feature-box{
    text-align: center;
    padding: 5%;
}

.icon{
    color: #ef8172;
    margin-bottom: 1rem;
}
.icon:hover{
    color: #ff4c68
}

#testimonials{
    padding: 7% 15%;
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}

.tes-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}
.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}

.carousel-item{
    padding: 7% 15%;
}

#pricing{
    padding: 100px;
    text-align: center;
}

.pricing-column{
    padding: 3% 2%;
}

#cta{
    background-color: #ff4c68;
    color: #fff;
    padding: 7% 15%;
    text-align: center;
}

.cta-heading{
    font-family: "Monsterrat-Black";
    font-size: 3.5rem;
    line-height: 1.5;
}

.download-btn{
    padding: 7px;
    margin: 7px;
}

#footer{
    padding: 7% 15%;
    text-align: center;

}
.social-icon{
    margin: 20px 10px;
}